@charset "utf-8";
:root{
    --TextWidth: 200px;
    --TextHeight: 25px;
    --BoxSize: 400px;
}
body {
    background-color: #F0FFF0;
    flex-wrap: wrap;
}
.circle_box
{
    transform: scale(0.65,0.65);
    width: 130px !important;
    height: 130px !important;
}
input[type=number] {
    width: calc(var(--BoxSize)/4);
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 2px;
    font-size: 18px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
input[type='number']::-webkit-inner-spin-button
{
    display: none;
}

input
{
    text-align: center;
    width: var(--TextWidth);
    height: var(--TextHeight);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  
}

label {
    font-size: 18px;
}
.settings-title
{
    justify-self: center;
    align-self: center;
    margin: auto;
    color: indianred;
    font-family: 'Glory', sans-serif;
    font-size: 5rem;
    text-decoration: underline;

}

.div-pin{
    width: 200px !important;
    display: flex;
    justify-content: space-between;
}

.dropdownBox{
    width: var(--TextWidth);
    height: var(--TextHeight);
    font-size: 16px;
    
}
.dropDown2{
    width: calc(var(--TextWidth)/6px);
    height: var(--TextHeight);
    font-size: 16px;
    
}

.dropdownBox option{
    width: var(--TextWidth);
    height: var(--TextHeight);
    font-size: 16px;
    
}
.dropDown2 option{
    width: calc(var(--TextWidth)/6px);
    height: var(--TextHeight);
    font-size: 16px;
    
}
.wholepage
{
    display: flex;
    flex-direction:unset;
    flex-wrap: wrap;
}

.box-title 
{
    text-transform: uppercase;
    display: flex;
    background-color: wheat;
    width: var(--BoxSize);
    justify-content: center;
    margin-bottom: 7px;
    
}
.box-title label
{
    font-family: 'Glory', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.box-div
{
    display: flex;
    margin: auto;
    border: peru solid 1px; 
    width: var(--BoxSize); 
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
}
.basic-div
{
    margin: 2.5px;
    display: flex;
    align-items: center;
}
.basic-three
{
    justify-content: space-between;
}
.basic-three .basic-two
{
    justify-content: space-between;
    min-width: calc(var(--BoxSize) * 0.85);
}
.basic-two
{
    justify-content: space-between;
}
.basic-one
{
    justify-content: center;
}
.box-button1
{
    height: 1.5rem;
 
    width: calc(var(--BoxSize)/6);
    background: inherit;
    border-radius: 10px;
    border: 2px solid;

}
.box-button1:hover
{
    background-color: darkcyan;
    color: white;
    border: 2px solid;
}

.item-label
{
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.desc-label
{
    text-align: justify;
    font-size: 16px;
    font-family: 'Bona Nova', serif;
}

.button2
{
    margin-top: 10px;
    height: 1.75rem;
    width: calc(var(--BoxSize)/2);
    border-radius: 5px;
    border: 1px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    background-color: #fff7f7;

}
.button2:hover
{
    border: 2px solid black;
    background-color: #fff7f7b0;
    color: red;
}

                    
.basic-number
{
    width: var(--BoxSize)/4;
    
}

.savebutton
{
    width: var(--BoxSize);
    height: 3rem;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    border-radius: 20px;
}
.savebutton:hover
{
    background-color: snow;
    border: 3px solid black;
    color: salmon;
    border-radius: 40px;
}

.redbk{

    animation: redness;
    animation-duration: 4s;

}

@keyframes redness
{
    from{ background-color: #ff0000;}
    to{}
}

.pinselector
{
    width: calc(var(--BoxSize)/4);
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.pinselector option
{
    border-radius: 3px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}